// Fonts

@font-face {
    font-family: 'Font name';

    src: font-url('fontname.eot');
    src: font-url('fontname.eot?#iefix') format('embedded-opentype'),
         font-url('fontname.woff') format('woff'),
         font-url('fontname.ttf') format('truetype');
}